@font-face {
    font-family: 'Sora';
    src: url(fonts/sora/Sora-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Sora Bold';
    src: url(fonts/sora/static/Sora-Bold.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
    margin-left: 150px;
    margin-right: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(9px); /* opcional: efeito de vidro fosco */
    padding-left: 80px;
    padding-right: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 80%;
    box-sizing: border-box;
}

header img {
  margin-top: 10px;
  height: 70px;
  margin-bottom: 10px
}


.linha-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent, rgba(255,255,255,0.4), transparent);
  pointer-events: none; /* evita cliques sobre ela */
}

.listaHorizontal {
  list-style: none;     
  display: flex;      
  gap: 20px;  
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.listaHorizontal a {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'Sora';
  transition: all 0.3s ease;
}

.listaHorizontal a:hover {
  color: #bebebe;
  
}

.primeira {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.primeira-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.primeira-texto h1 {
    font-family: 'Sora Bold';
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.primeira-texto p {
    font-family: 'Sora';
    font-size: 18px;
    text-align: center;
}

.primeira-texto button {
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #00bfff;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Sora Bold';
}

.conteinerPrimeira {
  border: 1px solid #222;
  border-radius: 16px;
  color: white;
  padding: 20px;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow:
    0 0 25px rgba(255, 255, 255, 0.05),
    0 0 50px rgba(255, 255, 255, 0.05);
  font-family: 'Sora', sans-serif;
  position: relative;
  overflow: visible;
  margin-bottom: 0;
  background: linear-gradient(to bottom, #111, #0a0a0a);
  -webkit-mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 20%, transparent 90%);
}

.conteinerPrimeira img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.cima {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin: 0 -20px 15px -20px; /* remove o padding lateral do container */
  padding: 0 20px 10px 20px;  /* repõe o padding só pro texto */
  font-family: "Sora";
}

#comofunciona {
  position: relative;
  padding-top: 120px; /* altura do header */
  margin-top: -120px; /* para manter o layout visual */
}


.comofunciona {
  scroll-margin-top: 3000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -60px;
}

.comofunciona h2 {
  font-family: 'Sora Bold';
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

.comofunciona-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

.card {
  background: linear-gradient(to bottom, #ffffff0e, #000000);
  border: 1px solid #222;
  border-radius: 20px;
  padding: 20px;
  width: 600px;
  box-sizing: border-box;
  color: white;
  font-family: 'Sora', sans-serif;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.baixo h3 {
  font-family: 'Sora Bold';
  font-size: 18px;
  margin-bottom: 8px;
}

.baixo p {
  font-size: 15px;
  opacity: 0.8;
  line-height: 1.5;
}

.comofunciona {
    font-family: "Sora Bold";
    position: relative;
    color: white;
    padding: 60px;
    padding-top: 10px;
    overflow: hidden;
    align-items: center;
}

.comofunciona-texto {
  display: flex;
  justify-content: center;
}

.comofunciona-texto h2 {
    font-size: 15px;
    text-align: center;
  background-color: rgb(14, 14, 14);
  color: white;
  border: 1px solid white;
  border-radius: 999px;
  padding: 8px 20px;
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.opcao1 h3 {
    font-family: "Sora Bold";
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.opcao2 h3 {
    font-family: "Sora Bold";
    font-size: 40px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;

}

.cta-title {
      font-family: 'Sora Bold';
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.cta-texto {
    font-family: 'Sora';
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    margin-top: -20px;
}

.ganhos-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

.baixo svg {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  flex-shrink: 0;
}

.card-ganhos {
  background: linear-gradient(to bottom, #ffffff0e, #000000);
  border: 1px solid #222;
  border-radius: 20px;
  padding: 20px;
  width: 390px;
  box-sizing: border-box;
  color: white;
  font-family: 'Sora', sans-serif;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: box-shadow 0.3s ease;
}

.cardhorizontal {
  display: flex;
  align-items: center;      
  justify-content: center;    
  gap: 16px;                  
  margin: 24px auto;
  color: white;
  text-align: center;
  flex-wrap: wrap;         
}

.cardhorizontal svg {
  width: 40px;
  height: 40px;
  fill: #00BFFF;
  flex-shrink: 0;
}

.cardhorizontal p {
  font-size: 24px;
  line-height: 1.4;
  margin: 0;
} 

 .footer-blur {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(9px);
  width: 100%;
  padding: 20px 80px;
  box-sizing: border-box;
  position: relative;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Sora', sans-serif;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-content img {
  height: 60px;
}

.footer-info p {
  margin: 4px 0;
  font-size: 14px;
  opacity: 0.9;
}

.linha-fade-horizontal {
  position: absolute;
  bottom: 120px;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent, rgba(255,255,255,0.2), transparent);
}

.botoes-fale-conosco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding-top: 40px;
}

.botao-fale-conosco {
  text-align: center;
}

.botao-fale-conosco a {
  padding: 14px 28px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: 2px solid #8a8a8a;
  border-radius: 30px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Sora Bold';
  transition: all 0.3s ease;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
}

.botao-primeira {
  display: flex;
  justify-content: center;

}

.botao-fale-conosco a:hover {
  background-color: #000000;
  color: #ffffff;
}

.botoes-fale-conosco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-top: -50px;
}

.botoes-fale-conosco-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: -20px;
}


@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0 20px;
  }

  header {
    width: 100%;
    padding: 10px 20px;
  }

  .listaHorizontal {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .conteinerPrimeira {
    width: 100%;
    margin: 20px 0;
    padding: 16px;
  }

  .primeira-texto h1 {
    font-size: 32px;
  }

  .primeira-texto p {
    font-size: 16px;
  }

  .comofunciona-cards,
  .ganhos-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .card,
  .card-ganhos {
    width: 100%;
    padding: 16px;
  }

  .card img,
  .card-ganhos img {
    width: 100%;
    height: auto;
  }

  .botao-fale-conosco a {
    font-size: 12px;
    padding: 12px 24px;
    width: 100%;
    max-width: 320px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
  }

  .footer-content img {
    height: 50px;
  }

  .linha-fade-horizontal {
    bottom: 100%;
  }
}

@media (max-width: 480px) {
  .primeira-texto h1 {
    font-size: 24px;
  }

  .primeira-texto p {
    font-size: 14px;
  }

.botao-primeira {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding-top: 0;
  margin-top: -20px;
}

.botao-primeira .botao-fale-conosco {
  width: 100%;
  display: flex;
  justify-content: center;
}

.botao-primeira .botao-fale-conosco a {
  width: 100%;
  max-width: 320px;
  text-align: center;
}

  .comofunciona-texto h2,
  .beneficios h2 {
    font-size: 24px;
  }

  .baixo h3 {
    font-size: 16px;
  }

  .baixo p {
    font-size: 14px;
  }

  .card,
  .card-ganhos {
    padding: 12px;
  }

  .conteinerPrimeira {
    padding: 12px;
  }

  .comofunciona h2,
  .beneficios h2,
  .title h2 {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .cta-texto {
    font-family: 'Sora';
    font-size: 10px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    margin-top: -20px;
}

  .comofunciona-texto h2 {
    font-size: 12px;
    padding: 6px 16px;
  }

  .comofunciona-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  .card {
    width: 100%;
    margin: 0;
  }

  .primeira-texto {
    padding-top: 30px;
  }

    .primeira,
  .comofunciona {
    padding-left: 0;
    padding-right: 0;
  }

  .comofunciona h2,
  .beneficios h2,
  .title h2 {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .comofunciona-texto h2 {
    font-size: 12px;
    padding: 6px 16px;
  }

  .comofunciona-cards,
  .ganhos-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  .card,
  .card-ganhos {
    width: 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .card img,
  .card-ganhos img {
    width: 100%;
    height: auto;
  }

.botoes-fale-conosco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px; /* pode ajustar conforme necessário */
}

.botao-fale-conosco {
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: center;
}

.botao-fale-conosco a {
  width: 100%;
  max-width: 320px;
  text-align: center;
  margin-top: 20px;
}


  .cta-texto {
    margin-top: 10px;
  }
  nav {
    display: none;
  }

  header {
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    position: relative; /* necessário para alinhar a linha-fade */
    margin-bottom: -100px;
  }

  header a img {
    margin: 0 auto;
    display: inline-block;
  }

  .linha-fade {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
}