@font-face {
    font-family: 'Sora';
    src: url(fonts/sora/Sora-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Sora Bold';
    src: url(fonts/sora/static/Sora-Bold.ttf);
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: 2px solid rebeccapurple;
    padding-left: 80px;
    padding-right: 80px;
}

header img {
    height: 150px;
}

header button {
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #00bfff;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-family: 'Sora Bold';
}

.primeira {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #000000;
    color: white;
    border: 2px solid red;
}

.primeira-img {
    border: 2px solid red;
}

.primeira-texto h1 {
    font-family: 'Sora Bold';
    font-size: 60px;
}

.primeira-texto p {
    font-family: 'Sora';
    padding-right: 40px;
    font-size: 18px;
}

.primeira-texto button {
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #00bfff;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Sora Bold';
}

.quemsomos {
    display: flex;
    padding: 60px;
    background-color: #000000;
    color: white;
    border: 2px solid red;
    position: relative;
}

.quemsomos img {
    border: 2px solid red;
    z-index: 1;
    object-fit: cover;
    padding-top: 120px;
}

.quemsomos h2 {
    font-family: 'Sora Bold';
    font-size: 60px;
    position: absolute;
    z-index: 10;
    top: 40px;
    z-index: 10;
}

.quemsomos p {
    padding-left: 90px;
    padding-top: 200px;
    font-family: 'Sora';
    padding-right: 40px;
    font-size: 22px;
}

.beneficios {
    font-family: "Sora Bold";
    position: relative;
    padding: 60px;
    padding-top: 30px;
    color: white;
    overflow: hidden;  
    border: 2px solid red;  
}

.beneficios h2 {
    font-size: 60px;
    border: 2px solid red; 
}

.setinhabeneficiosesquerda, .setinhabeneficiosdireita {
  position: absolute;
  width: 110px;
  pointer-events: none;
  border: 2px solid red;
}

.setinhabeneficiosdireita {
    right: 20px;
    top: 140px;
    transform: rotate(300deg);
}

.setinhabeneficiosesquerda {
    left: 20px;
    bottom: 20px;
    transform: rotate(30deg);
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
    border: 2px solid red; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    border: 2px solid red; 
}

.card img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.card p {
    font-family: "Sora";
    font-size: 22px;
    color: white;
}

.card h3 {
    font-size: 24px;
}

.comofunciona {
    font-family: "Sora Bold";
    position: relative;
    color: white;
    padding: 60px;
    padding-top: 10px;
    overflow: hidden;
    border: 2px solid red;
}

.comofunciona h2 {
    font-size: 60px;
    border: 2px solid red;
    margin-bottom: 0;
}

.card h4 {
    color: #00bfff;
    font-size: 30px;
    margin-bottom: 8px;
}

.opcao1 h3 {
    font-family: "Sora Bold";
    font-size: 40px;
    border: 2px solid red;
    margin-top: 0;
    margin-bottom: 0;
}

.opcao2 h3 {
    font-family: "Sora Bold";
    font-size: 40px;
    border: 2px solid red;
    margin-top: 0;
    margin-bottom: 0;
}

.opcao2 svg {
    fill: #00bfff;
    width: 30px;
}
